= render :partial => 'manage/menu'

#institution-permission
  - for permission in @permissions
    = render :partial => 'edit_user_permission', :locals => {:permission => permission, :user => permission.user}
